p {
  text-align: justify
}

h4 {
  font-weight: bold;
  text-align: left;
}

.custom-input {
  border: none;
  border-radius: 8px;
  background-color: #fddfb9;
  padding: 8px;
  width: 90%; 
  text-align: center;
}

.input-eval {
  border: none;
  border-radius: 8px;
  background-color: #ffecd1;
  padding: 8px;
  width: 4rem; 
  text-align: center;
}

.input-coord {
  border: none;
  border-radius: 8px;
  background-color: #ffecd1;
  padding: 8px;
  width: 2rem; 
  text-align: center;
}

.liAct-4 {
  margin-bottom: 16px;
}

.row-grafDeFunc {
  margin-bottom: 35px;
}

.actividad {
  background-color: #ffc596; 
  padding: 16px;
  border-radius: 8px;
}

.act-width {
  justify-content: center;
}

/* Estilos para centrar la tabla de la actividad 3*/
.cont-table {
  width: 70%;
  justify-content: center;

}


@media (min-width: 768px) {
  .cont-table {
    width: 50%;
  }
}

@media (max-width: 576px) {
  .cont-table {
    width: 100%;
  }
}

/* Estilos para las actividades 4 y 5*/
.col-act4y5 {
  margin: 0.4rem;
  padding-top: 1.7rem;
  width: 100%;
}

@media (min-width: 768px) {
  .col-act4y5 {
    width: 45%;
  }
}

@media (max-width: 767px) {
  .col-act4y5 {
    width: 100%;
  }
}









