/* App.css */
#root {
  width: 100%;
  margin: 0 auto;
  
}

body {
  background-color: #011627;
  overflow-x: hidden; /* Oculta el desplazamiento horizontal */
  max-width: 100%;
}

.App{
  background-color: #011627;
} 

html {
  scroll-behavior: smooth;
}


.contenido-pagina{
  margin-top: 0;
  padding-bottom: 0.1rem;
}





